<div class="dialog-container flex flex-col">
  <h2>{{data.title}}</h2>
  <p>{{ data.text }}</p>
  <form [formGroup]="form" class="flex flex-col">
    <span class="input-label">{{data.nameLabel}}</span>
    <input formControlName="name" dir="auto" class="w-full main-input mt-2"/>
    <span class="input-label mt-4">{{data.descriptionLabel}}</span>
    <textarea formControlName="description" dir="auto" class="w-full main-input mt-2"></textarea>
  </form>
  <div class="dialog-buttons-container">
    <span class="flex-1"></span>
    <button class="btn cancel-btn" (click)="emitClose(null)">
      {{ data.cancelActionName ?? 'Cancel' }}
    </button>
    <app-confirmation-button
      [disabled]="form.invalid"
      [text]="data.confirmActionName ?? 'Submit'"
      (clicked)="emitSubmit()">
    </app-confirmation-button>
  </div>
</div>
