asgiref==3.11.0
Django==5.2.9
uvicorn[standard]==0.38.0
ipython==9.8.0
psycopg[binary]==3.3.2
channels==4.3.2
daphne==4.2.1
channels_redis==4.3
celery==5.6.0
django-celery-beat==2.8.1
django-cacheops==7.2
django-cors-headers==4.9.0
tzlocal==5.3.1
pytz==2025.2
django-ninja==1.5.1
django-log-viewer==1.1.8
pydantic==2.12.5
querystring-parser==1.2.4
PyJWT==2.10.1
XlsxWriter==3.2.9
whitenoise==6.11.0
django-types==0.22.0
cloudinary==1.44.1
django-cloudinary-storage==0.3.0
webauthn==2.6.0
google-auth==2.40.3
django-anymail[brevo]==13.0
openai>=1.0.0
httpx>=0.27.0