<div class="relative" [ngClass]="className()">
    <select
            [ngModel]="value()"
            (ngModelChange)="onValueChange($event)"
            [disabled]="disabled()"
            class="main-input pr-8 cursor-pointer truncate"
            [ngClass]="[hasError() ? errorClassName() : '', bgClassName(), selectClassName()]"
    >
        @if (allowEmpty()) {
            <option [ngValue]="null" [ngClass]="bgClassName()" class="text-writing">{{ emptyValueDisplay() }}</option>
        }
        @for (option of options(); track option.value) {
            <option [ngValue]="option.value" [ngClass]="bgClassName()" class="text-writing">{{ option.display }}</option>
        }
    </select>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
        <ng-icon [svg]="chevronDownIcon" class="h-4 w-4"></ng-icon>
    </div>
</div>
